*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none ;
    font-family: 'Lora', serif;
}

@media screen and(max-width:992px)
{
    body{
        width:50% 
    }
}
@media screen and(max-width:768px)
{
    body{
        width:50%
    }
}
@media screen and(max-width:576px)
{
    body{
        width:50% 
    }
}

body{ 
    background-color: #BEAFC2; 

}
.main-conten{
    min-height: 100vh ;
    width: 80% ;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

/*Left Section*/
.left-section{
    grid-column: span 2;
    height: 100%;
    background-color:  #281C2D;
}
.left-content{
    padding:1rem 2rem;
}


.info{
    width:100%;
    border-bottom: 1px solid  #979297;
}
.info img{
    width:100%; 
    border-radius: 50%;
    border:5px solid  #979297;
    
}
.main-title{
    color: #adaaad;
    letter-spacing: 1px;
    font-size: 25px; 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 7px;
 }
.name {
    font-size: 30px;
    color: #adaaad;
    text-align: center;
    letter-spacing: 1px;
    padding: 15px 0;

}
.career{
    font-size: 30px;
    color: #adaaad;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom:30px;
    padding-bottom: 30px #979297;
}

.aims-objectives-Paragraph
{
    color: #adaaad;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    padding-bottom:30px;
    border-bottom: 1px solid #979297 ;
   
}
.Contact-info ul {
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 2px;
    padding-bottom: 5px;
}
.Contact-info li {
    font-size: 16px;
    color:#979297;
    padding-top: 2px;
    letter-spacing: 1px;
    padding-bottom: 5px;
}
.Contact-info i {
    color:#e7d6d6;
    padding-top: 2px;
    padding-right: 5px;
}



/* ******Right Side********/

.right-section{
    grid-column: span 5;
    height: 100%;
    background-color:#f4f4f4;
}
.right-title{
    color: #adaaad;
    letter-spacing: 1px;
    font-size: 150%;
    text-decoration: underline; 
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left:3%
}
/*Education information*/
.Education{
    font-size: 120%;
    color:#3d2b45;
    padding-left: 5%;
   
}
.Courses {
    font-size: 120%;
    color:#3d2b45;
    padding-left: 5%;
    padding-bottom: 2%;
}


/* Skills*/
.Skills-Section li{ 
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 5px;
    color:#3d2b45;
    padding-left: 10%;
    padding-right: 50%;
}
/*Programming Languages*/
.knowledge-bar{
    width: 100%;
    height: 8px;
    background-color: #3d2b45;
    position: relative;
    
}
.java-knowledge{
    height: 100%;
    width: 85%;
    position: absolute;
    left: 0;
    background-color: #e7d6d6;
    
}
.C-knowledge{
    height: 100%;
    width: 55%;
    position: absolute;
    left: 0;
    background-color: #e7d6d6;
}
.Python-knowledge{
    height: 100%;
    width: 40%;
    position: absolute;
    left: 0;
    background-color: #e7d6d6;
}
.HTML-knowledge{
    height: 100%;
    width: 60%;
    position: absolute;
    left: 0;
    background-color: #e7d6d6;
}
.CSS-knowledge{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    background-color: #e7d6d6;
}
/* Languages */
.Language-knowledge-bar{
    width: 100%;
    height:8px;
    background-color: #3d2b45;
    position:relative;
}
.Arabic-knowledge{
    height: 100%;
    width: 90%;
   
    position: absolute;
    background-color: #e7d6d6;
    
}
.English-knowledge{
    height: 100%;
    width: 95%;
    position: absolute;
    background-color: #e7d6d6;
}
.French-knowledge{
    height: 100%;
    width: 10%;
    position: absolute;
    background-color: #e7d6d6;
}

/*Projects*/
.Project-section{
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 5px;
    color:#3d2b45;
    padding-left: 10%;
    padding-right: 20%;
}
.Projects-name{
    font-size: 18px;
    letter-spacing: 0.5px;
    color:#3d2b45;
    padding-left: 2%;
    border-bottom: 1.5px solid #3d2b45;
}
.Projects{
    font-size: 16px;
    padding-left: 6.5%;
    padding-right: 6%;
    padding-bottom: 5px;
    color: #c7b8b8;
}
